interpreter
lukasz_raszkiewicz.zip
build_bnfc/
build_bnfc_stack/
build_ghc/
doc/
lukasz_raszkiewicz/
other/
.vscode/
xul-lang.cabal

dist
dist-*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*
